img {
  /* height: 250px; */
  width: 200px;
  border-radius: 10px;
  
}

.add_like {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.card {
  background-color: #f5f5f5;
  width: 200px;
  position: relative;
  border-radius: 10px;
}

.delete_card {
  margin: 0;
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 0.2rem;
  right: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like_btn {
    background-color: transparent;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.disLike_btn{
    background-color: transparent;
    border:none; 
    margin-top: 10px;
    margin-bottom: 10px;

}
