* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: grey;

  /* display: flex;
    flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

input {
  margin-top: 25px;
  margin-bottom: 30px;
  height: 2rem;
  width: 10rem;
  border-radius: 5px;
  border-style: none;
}

.Cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
